.Heading {
  text-align: center;
  padding: 1rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.MainData {
  border: #499557 2px solid;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  height: 100%;
  gap: 1rem;
  background-color: #f7f7f7;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2rem;
  margin: 1rem auto;
}

.Basic-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.Basic-info > p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.Basic-info > p > a {
  color: #285530;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}
.Basic-info > p > a:hover {
  color: #499557;
  text-decoration: underline;
}
.Basic-info > p > a :visited {
  color: #285530;
}

.description-info {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: column;
}

.knowledge_panel-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.knowledge_panel-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.knowledge_panel-Extra-info > ul {
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
}

.knowledge_panel-label-extra-info:nth-child(even) {
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .MainData {
    overflow: hidden;
    width: 100%;
  }
  .MainData-MoreResults-container {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .Basic-info > p > a {
    font-size: 1rem;
  }
}
