nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

nav > div {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #1e3d24;
  cursor: pointer;
}

nav > div:hover {
  color: #499557;
}
